body
{
    
}


.discardpile {
    margin-left: 30px;

}

.discardpiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.colorpiles {
    display: flex;
    margin-left: auto;
    justify-content: end;
    gap: 60px;
    margin-right: 140px;
}

.imgsize {
    width: 100px; /* Set the desired width of the div */
    height: 144px; /* Set the desired height of the div */
    display: flex; /* Optional: Center the image */
    justify-content: center; /* Optional: Center the image */
    align-items: center; /* Optional: Center the image */
    /*overflow: hidden;*/  
}

     img {
        height: 144px;
        width: 100px;
        object-fit: cover;
    }

.colorpile {
    /*display: flex;
    flex-direction: column;*/ /* Stack items vertically */
    /*align-items: center;*/ /* Optional: center items horizontally */
    /*justify-content: center;*/
    height: 144px;
    width: 100px;
    /*border: 3px solid red;*/
    position: relative;
}

.playingcard {

    position: absolute;
}

.cardpile {
/*    width: 110px;
    height: 250px;*/
    position: relative;

}

.top-container {
    position: relative;
    display: flex;
    margin-top: 50px;
    gap: 10px;
}

.bottom-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    height: auto;
    width: auto;
}


.tempdiv {
/*    border: 3px solid red;
    z-index: 10;
    position: absolute;*/
}


